body {
  margin: 0;
  padding: 0;
  background: #E0F2F1;
  color: black;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}

/* #F0FFF0 */


